<main>
    <section class="tarefas">
        <div class="tarefa"></div>
        <form action=""></form>
        <div>
            <input type="radio" id="tarefa-1">
        <label for="tarefa-1">completar curso de javascript</label>

        </div>
        <button>
            <img src="/imagens/x-icon.png.png" alt="icone de x para excluir uma tarefa">
        </button>
    </section>
</main>